ion-item {
  ion-label {
    span {
      font-size: 0.7rem;
      text-align: right;
      font-family: "FishermanHollow-Ydgy";
      padding: 2px 1rem;
      display: block
    }
  }
}
.isNotiClicked {
  background-color: #f2f2006b;
  padding: 2px 1rem;
}
