.hcs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
ion-spinner {
  margin: auto;
  width: 2rem;
  left: 0;
  right: 0;
  position: absolute;
  top: 39%;
  z-index: 999;
  color: gray;
}
ion-card {
  width: 21.5rem;
  margin: 13px auto;
}
ion-card ion-card-header {
  font-weight: 700;
  color: #000;
}
ion-card img {
  max-width: 100px;
}
ion-content .card-md h3 {
  font-weight: 800;
}
ion-content .card-md span.price {
  text-decoration: line-through;
}
ion-content ion-card-content {
  margin-bottom: -20px;
}
ion-content ion-card-content ion-col h6 {
  position: absolute;
  left: -154px;
  top: -25px;
  background-color: #f78f1e;
  color: #fff;
  padding: 4px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.card-header-md {
  font-size: 1.6rem;
  color: #222;
  padding: 16px;
  font-weight: 600;
}
.card-content-md {
  padding-bottom: 0;
}
.card-md h6 {
  color: #fff;
}
p.description {
  color: grey;
  height: 23px;
  overflow: hidden;
}
ion-footer ion-button {
  --background: #fff;
  --border-radius: 50px;
  --padding-start: 1.5rem;
  --padding-end: 1.5rem;
  height: 2.4rem;
  color: #000;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
