<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>about us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="vison">
        <h5>store name</h5>
        <div class="logo-img">
            <img src="assets/logo.png">
        </div>

        <p>
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        </p>
    </div>

    <!-- <ion-card>
        <ion-card-header>
            <ion-card-subtitle>10am-12am all week dayes</ion-card-subtitle>
            <ion-card-title>a branch name 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            14 Burleigh Street, Grafton, Auckland 1023, New Zealand
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>10am-12am all week dayes</ion-card-subtitle>
            <ion-card-title>a branch name 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            14 Burleigh Street, Grafton, Auckland 1023, New Zealand
        </ion-card-content>
    </ion-card> -->



</ion-content>