ion-content {
    .vison {
        text-align: center;
        width: 21rem;
        margin: auto;
        h5 {
            font-size: 2rem;
            font-weight: bold;
        }
        .logo-img {
            width: 7rem;
            margin: 25px auto 28px;
            img {
                margin: auto;
            }
        }
    }
}